/* Customize the label (the#div-corrected, .graph_radio  container) */
#div-corrected .container,
.graph_radio .container {
  display: block;
  position: relative;
  padding-left: 24px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
#div-corrected .container input[type=radio], 
.graph_radio .container input[type=radio]{
  position: absolute;
  opacity: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #ced4da;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
#div-corrected .container:hover input ~ .checkmark,
.graph_radio .container:hover input ~ .checkmark{
  background-color: #dee2e6;
}

/* When the radio button is checked, add a blue background */
#div-corrected .container input:checked ~ .checkmark,
.graph_radio .container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
#div-corrected .container input:checked ~ .checkmark:after,
.graph_radio .container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
#div-corrected .container .checkmark:after,
.graph_radio .container .checkmark:after {
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}