<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>YHMI</title>
  {% load static %}
  <script src="{% static 'jquery/jquery.min.js' %}"></script>

  {% csrf_token %}
  <script type="text/javascript">
    var csrftoken = $("[name=csrfmiddlewaretoken]").val();
    // console.log(csrftoken);
  </script>
  
  {# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous"> #}
  <link rel="stylesheet" href="{% static 'bootstrap-v4/css/bootstrap.min.css' %}" style="text/css">
  <link rel="stylesheet" href="{% static 'css/index.css' %}" style="text/css">
  <link rel="stylesheet" href="{% static 'css/switch.css' %}" style="text/css">
  <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}" style="text/css">
</head>

<body class="fixed-nav" id='page-top'>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="/home">YHMI : Yeast Histone Modification Identifier &#60;beta&#62;</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Tutorial</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
  
  <div class="content-wrapper" style="margin-bottom:70px;">
    <div class="container-fluid container-input">
      {% block content %}{% endblock content %}
    </div>
    <div class="container-fluid container-chart">
    </div>
    <div class="container-fluid container-results">
      <div class="row">
        <div class="col-lg-12">
          <div id="userspecific"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div id="result"></div>
        </div>
      </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Computational System Biology Lab, EE, NCKU 2017</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>

    <script src="{% static 'bootstrap-v4/popper/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap-v4/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'jquery/jquery.easing.min.js' %}"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/ajax.js' %}"></script>
    <script src="{% static 'js/plot.js' %}"></script>
    <script src="{% static 'js/action.js' %}"></script>
    <script src="{% static 'js/cookie.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/customRadio.css' %}">
    {# <link rel="stylesheet" type="text/css" href="{% static 'css/plot.css' %}"> #}
    <link rel="stylesheet" type="text/css" href="{% static 'DataTables/datatables.min.css' %}">
    <script type="text/javascript" charset="utf8" src="{% static 'DataTables/datatables.min.js' %}"></script>
  </div>
  {# {% block customModal %}{% endblock customModal %} #}

</body>
</html>