<!-- Custom Setting-->
<div class="modal fade" id="div-custom" tabindex="-1" role="dialog" aria-labelledby="CustomSetting" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="CustomSetting"><i class="fa fa-wrench"></i> Custom Setting </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-0" id="custom-setting-modal">
        <div id="custom-setting-accordion" role="tablist">
          {% for Paper,Feature in filter_data.items %}
            {% if Paper != 'Venters2011'%}
              <div class="card">
                <div class="card-header" role="tab" id="{{Paper}}-setting" data-toggle="collapse" data-target="#{{Paper}}-setting-collapse">
                  <h6 class="mb-0" style="color:#007bff">{{ Paper }}</h6>
                </div>

                <div id="{{Paper}}-setting-collapse" class="collapse" role="tabpanel" aria-labelledby="{{Paper}}-setting" data-parent="#custom-setting-accordion" >
                  <div class="card-body" style="height:234.4px; overflow-y:scroll;">
                    <table class="table">
                      <thead>
                        <tr>
                          <th></th>
                          <th colspan="2">Promoter</th>
                          <th colspan="2">Coding Region</th>
                        </tr>
                        <tr>
                          <th></th>
                          <th>enriched(&#62;=)</th>
                          <th>depleted(&#60;=)</th>
                          <th>enriched(&#62;=)</th>
                          <th>depleted(&#60;=)</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for id,f in Feature %}
                        <tr class="tr-custom-setting" id="fs{{ id }}">
                          <td>{{ f }}</td>
                          <td>
                            <div>
                              <input type="checkbox" class="check-feature greater">
                              <input type="text" value="1.0" disabled style="width:35px;">
                              <span class="fclass">pro_greater</span>
                            </div>
                          </td>
                          <td>
                            <div>
                              <input type="checkbox" class="check-feature less">
                              <input type="text" value="-1.0" disabled style="width:35px;">
                              <span class="fclass">pro_less</span>
                            </div>
                          </td>
                          <td>
                            <div>
                              <input type="checkbox" class="check-feature greater">
                              <input type="text" value="1.0" disabled style="width:35px;">
                              <span class="fclass">cds_greater</span>
                            </div>
                          </td>
                          <td>
                            <div>
                              <input type="checkbox" class="check-feature less">
                              <input type="text" value="-1.0" disabled style="width:35px;">
                              <span class="fclass">cds_less</span>
                            </div>
                          </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>  
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btn-save-custom">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- ./Custom Setting-->