<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>YHMI</title>
  {% load static %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/index.css' %}" style="text/css">
  <link rel="stylesheet" href="{% static 'css/switch.css' %}" style="text/css">
  <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}" style="text/css">
</head>

<body class="fixed-nav" id='page-top'>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="index.html">YHMI : Yeast Histone Modification Identifier &#60;beta&#62;</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="index.html">
            <i class="fa fa-fw fa-file"></i>
            <span class="nav-link-text">Input Gene</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
          <a class="nav-link" href="charts.html">
            <i class="fa fa-fw fa-area-chart"></i>
            <span class="nav-link-text">Charts</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" href="tables.html">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">Results</span>
          </a>
        </li>
        <li></li>
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>


      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Disabled</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper" style="margin-bottom:70px;">
    <div class="container-fluid">
      <div class="mb-0 mt-4">
        <span class="input-option active"><i class="fa fa-file"></i> &nbsp;Gene Input &nbsp;&nbsp;</span>|&nbsp;
        <span class="input-option"><i class="fa fa-wrench"></i> custom setting &nbsp;&nbsp;</span>|&nbsp;
        <span class="input-option"><i class="fa fa-cog"></i> cutoff setting</span>
      </div>
      <hr class="mt-2">

      <!-- Gene Input-->
      <div class="row row-input show" id="div-input">
        <!-- Gene Input Set-->
        <div class="col-lg-3">
          <div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-search"></i> Input <a href="javascript:showExample(1);" title="Click to show iESR in first input text">(e.g.)</a></div>
            <div class="card-body" style="height:500px;" id="div-genetext">
              <textarea id="inputTextArea" class="form-control" style="height:100%; resize:none; overflow-x:hidden;"></textarea>
            </div>
          </div>
        </div>
        <!-- Gene Input Filter-->
        <div class="col-lg-9">
          <div class="card mb-3">
            <div class="card-header" style="height:49px;">
              <i class="fa fa-filter"></i> Gene Filter &nbsp;
                <label class="switch m-0">
                  <input type="checkbox" id="switch">
                  <span class="slider round"></span>
                </label>
                <div class="text-right d-inline float-right">
                  Composition Option:
                  <select id="Composition-select" disabled>
                    <option value="Intersection">Intersection</option>
                    <option value="Union">Union</option>
                  </select>
                </div>
            </div>
            <div class="card-body p-0 div-disabled" style="height:500px;" id="div-filter">
              <div id="filter-accordion" role="tablist">
                {% for Paper,Feature in filter_data.items %}
                  <div class="card">
                    <div class="card-header" role="tab" id="{{Paper}}">
                      <h6 class="mb-0">
                        <a data-toggle="collapse" href="#{{Paper}}-collapse" role="button" aria-expanded="true" aria-controls="{{Paper}}-collapse">
                        {{ Paper }}
                        </a>
                      </h6>
                    </div>

                    <div id="{{Paper}}-collapse" class="collapse" role="tabpanel" aria-labelledby="{{Paper}}" data-parent="#filter-accordion" >
                      <div class="card-body" style="height:234.4px; overflow-y:scroll;">
                        <table class="table">
                          <thead>
                            <tr>
                              <th></th>
                              <th colspan="2">Promoter</th>
                              <th colspan="2">Coding Region</th>
                            </tr>
                            <tr>
                              <th></th>
                              <th>&#62;=</th>
                              <th>&#60;=</th>
                              <th>&#62;=</th>
                              <th>&#60;=</th>
                            </tr>
                          </thead>
                          <tbody>
                          {% for f in Feature %}
                            <tr>
                              <td>{{ f }}</td>
                              <td>
                                <div>
                                  <input type="checkbox" class="check-feature greater">
                                  <input type="text" value="1.0" disabled style="width:35px;">
                                </div>
                              </td>
                              <td>
                                <div>
                                  <input type="checkbox" class="check-feature less">
                                  <input type="text" value="-1.0" disabled style="width:35px;">
                                </div>
                              </td>
                              <td>
                                <div>
                                  <input type="checkbox" class="check-feature greater">
                                  <input type="text" value="1.0" disabled style="width:35px;">
                                </div>
                              </td>
                              <td>
                                <div>
                                  <input type="checkbox" class="check-feature less">
                                  <input type="text" value="-1.0" disabled style="width:35px;">
                                </div>
                              </td>
                            </tr>
                          {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>  
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Gene Input-->

      <!-- Custom Setting-->
      <div class="row row-input hide" id="div-custom">
        <div class="col-lg-12">
          <div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-wrench"></i> Custom Setting &nbsp;
            </div>
            <div class="card-body p-0" style="height:500px;">
              <div id="custom-setting-accordion" role="tablist">
                {% for Paper,Feature in filter_data.items %}
                  <div class="card">
                    <div class="card-header" role="tab" id="{{Paper}}-setting">
                      <h6 class="mb-0">
                        <a data-toggle="collapse" href="#{{Paper}}-setting-collapse" role="button" aria-expanded="true" aria-controls="{{Paper}}-setting-collapse">
                        {{ Paper }}
                        </a>
                      </h6>
                    </div>

                    <div id="{{Paper}}-setting-collapse" class="collapse" role="tabpanel" aria-labelledby="{{Paper}}-setting" data-parent="#custom-setting-accordion" >
                      <div class="card-body" style="height:234.4px; overflow-y:scroll;">
                        <table class="table">
                          <thead>
                            <tr>
                              <th></th>
                              <th colspan="2">Promoter</th>
                              <th colspan="2">Coding Region</th>
                            </tr>
                            <tr>
                              <th></th>
                              <th>&#62;=</th>
                              <th>&#60;=</th>
                              <th>&#62;=</th>
                              <th>&#60;=</th>
                            </tr>
                          </thead>
                          <tbody>
                          {% for f in Feature %}
                            <tr>
                              <td>{{ f }}</td>
                              <td>
                                <div>
                                  <input type="checkbox" class="check-feature greater">
                                  <input type="text" value="1.0" disabled style="width:35px;">
                                </div>
                              </td>
                              <td>
                                <div>
                                  <input type="checkbox" class="check-feature less">
                                  <input type="text" value="-1.0" disabled style="width:35px;">
                                </div>
                              </td>
                              <td>
                                <div>
                                  <input type="checkbox" class="check-feature greater">
                                  <input type="text" value="1.0" disabled style="width:35px;">
                                </div>
                              </td>
                              <td>
                                <div>
                                  <input type="checkbox" class="check-feature less">
                                  <input type="text" value="-1.0" disabled style="width:35px;">
                                </div>
                              </td>
                            </tr>
                          {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>  
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Custom Setting-->

      <div class="row">
        <div class="col-lg-12 text-right">
          <div class="btn btn-primary w-10" id="btn-prev">
            <i class="fa fa-fw fa-arrow-circle-o-left"></i> Prev</div>
          <div class="btn btn-primary w-10" id="btn-next">
            Next <i class="fa fa-fw fa-arrow-circle-o-right"></i></div>
          <div class="btn btn-primary w-10" id="btn-send" style="display:none;">
            Submit <i class="fa fa-fw fa-paper-plane"></i></div>
        </div>
      </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Computational System Biology Lab, EE, NCKU 2017</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>

    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/popper/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'jquery/jquery.easing.min.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/action.js' %}"></script>
  </div>
</body>
</html>