{% extends "base.html" %}

{% block content %}
  <div class="mb-0 mt-4">
    <span class="input-option active"><i class="fa fa-file"></i> Gene Input </span>&nbsp;&nbsp;|&nbsp;
    <span class="input-option">
      <a data-toggle="modal" data-target="#div-custom">
        <i class="fa fa-wrench"></i> custom setting 
      </a>
    </span>
    {# <span class="input-option"><i class="fa fa-cog"></i> cutoff setting</span> #}
  </div>
  <hr class="mt-2">

  <!-- Gene Input-->
  <form id="inputForm">
  <div class="row row-input show" id="div-input">
    <!-- Gene Input Set-->
    <div class="col-lg-3">
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-search"></i> Input <a id="a-eg" href="javascript:showExample(1);" title="Click to show iESR in first input text">(e.g.)</a></div>
        <div class="card-body" style="height:500px;" id="div-genetext">
          <textarea id="inputTextArea" class="form-control" style="height:100%; resize:none; overflow-x:hidden;"></textarea>
        </div>
      </div>
    </div>
    <!-- Gene Input Filter-->
    <div class="col-lg-9">
      <div class="card mb-3">
        <div class="card-header" style="height:49px;">
          <i class="fa fa-filter"></i> Gene Filter &nbsp;
            <label class="switch m-0">
              <input type="checkbox" id="switch">
              <span class="slider round"></span>
            </label>
            <div class="text-right d-inline float-right">
              Composition Option:
              <select id="Composition-select" disabled>
                <option value=" AND ">Intersection</option>
                <option value=" OR ">Union</option>
              </select>
            </div>
        </div>
        <div class="card-body p-0 div-disabled" style="height:500px;" id="div-filter">
          <div id="filter-accordion" role="tablist">
            {% for Paper,Feature in filter_data.items %}
              <div class="card">
                <div class="card-header" role="tab" id="{{Paper}}">
                  <h6 class="mb-0">
                    <a data-toggle="collapse" href="#{{Paper}}-collapse" role="button" aria-expanded="true" aria-controls="{{Paper}}-collapse">
                    {{ Paper }}
                    </a>
                  </h6>
                </div>

                <div id="{{Paper}}-collapse" class="collapse" role="tabpanel" aria-labelledby="{{Paper}}" data-parent="#filter-accordion" >
                  <div class="card-body" style="height:234.4px; overflow-y:scroll;">
                    <table class="table">
                      <thead>
                        <tr>
                          <th></th>
                          <th colspan="2">Promoter</th>
                          <th colspan="2">Coding Region</th>
                        </tr>
                        <tr>
                          <th></th>
                          <th>&#62;=</th>
                          <th>&#60;=</th>
                          <th>&#62;=</th>
                          <th>&#60;=</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for id,f in Feature %}
                        <tr class="tr-feature" id="f{{ id }}">
                          <td>{{ f }}</td>
                          <td>
                            <div>
                              <input type="checkbox" class="check-feature">
                              <input type="text" class="form-control d-inline" value="1.0" disabled style="width:40px;">
                              <span class="fclass">pro_greater</span>
                            </div>
                          </td>
                          <td>
                            <div>
                              <input type="checkbox" class="check-feature">
                              <input type="text" class="form-control d-inline" value="-1.0" disabled style="width:40px;">
                              <span class="fclass">cds_less</span>
                            </div>
                          </td>
                          <td>
                            <div>
                              <input type="checkbox" class="check-feature">
                              <input type="text" class="form-control d-inline" value="1.0" disabled style="width:40px;">
                              <span class="fclass">cds_greater</span>
                            </div>
                          </td>
                          <td>
                            <div>
                              <input type="checkbox" class="check-feature">
                              <input type="text" class="form-control d-inline" value="-1.0" disabled style="width:40px;">
                              <span class="fclass">cds_less</span>
                            </div>
                          </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>  
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ./Gene Input-->

  <div class="row" id="div-corrected">
    <div class="col-lg-5">
      <label class="container">Bonferroni-corrected p-value: cutoff=10<sup>-</sup>
        <input type="radio" checked="checked" name="corrected" value="1">
        <span class="checkmark"></span>
        <input type="text" class="form-control d-inline" style="width:30px;" value="2">
      </label>
      <label class="container">FDR (False Discovery Rate): &alpha;=10<sup>-</sup>
        <input type="radio" name="corrected" value="2">
        <span class="checkmark"></span>
        <input type="text" class="form-control d-inline" disabled style="width:30px;" value="2">
      </label>
    </div>
    <div class="col-lg-7 text-right">
      <div class="btn btn-primary w-10 mt-4" id="btn-refresh">
        Reset <i class="fa fa-fw fa-refresh"></i></div>
      <div class="btn btn-primary w-10 mt-4" id="btn-send">
        Submit <i class="fa fa-fw fa-paper-plane"></i></div>
    </div>
  </div>
  </form>


{% endblock content %}

{% block customModal %}
  {% include "custom-setting.html" %}
{% endblock customModal %}